div.row
  div.col-lg-12
    div.jumbotron
      h1 My Points
      p Do the right thing. Become your ideal self. Make it happen every day. Score the points you deserve when you do stuff that makes you happy.
      p
        a.btn.btn-primary.btn-lg(ng-click='login()') Sign in with Facebook
