!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title My Points
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body